body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon-button {
  background: none;
  cursor: pointer;
  border: none;
  color: unset;
  padding: unset;
}

html,
body,
#root {
  min-height: 100%;
}

.page-and-navbar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main {
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  overflow: visible;
}

.main-footer {
  flex: 0 0 auto;
  width: 100%;
  margin-top: auto;
}

.main-child {
  min-height: 0;
}

.main > .main-child {
  padding-bottom: 3rem;
}
